{% extends "WzcMainBundle::layout.html.twig" %}


{% block header %}
    <title>{{ page.title }}</title>
    <META NAME="Keywords" CONTENT="{{ page.keywords | raw}}">
    <META NAME="Description" CONTENT="{{ page.description  | raw }}">
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('bundles/wzcmain/js/jquery.form.js') }}"></script>
    {{ parent() }}
    <style>
        .content{
            padding: 50px 0 30px 0;
            width: 900px;
            margin: 0 auto;
        }
        h2{
            color: #991199;
            font-size: 30px;
            text-transform: uppercase;
        }
        input.styler{
            /*width: 510px*/
        }
        .table{
            width: 600px;
            margin: 0 auto;
        }
        .question{
            font-weight: bold;
            color: #991199;
            padding: 5px;
        }
        .answer{
            margin-left: 30px;
            padding: 5px;
        }
        .textarea{
            width: 450px;
            height: 150px;
        }
        .test{
            min-width: 500px;
        }
        /*.test button{*/
            /*margin-left: 375px;*/
        /*}*/
        h1{
            color: #991199;
            font-size: 20px !important;
            text-transform: uppercase;
            font-weight: normal;
        }
        #loader{
            position: absolute;
            left: 50%;
            width: 64px;
            margin-left: -32px;
            top: 400px;
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var cc = 1;

            $('.next').click(function(){
                if ($("input:radio:checked").length > 0){
                    var items = [];
                    $("input:checkbox:checked").each(function(item){
                        items.push(item.attr('name'));
                    });
                    cc ++;
                    if ( cc >= 8){
                        $('.next').fadeOut();
                    }
                    $("#form_question").ajaxSubmit({
                        url: Routing.generate('test_next', { questionId: $('#questionId').val() }),
                        type: 'post',
                        beforeSubmit: function(){
                            $('#loader').css('display','block');
                        },
                        success: function (msg){
                            $('select').styler();
                            $('.styler').styler();
                            $('#form_question').html(msg);
                            $('#loader').css('display','none');
                            $('.test-error').html('');
                        },
                        error: function(){
                            $('.test-error').html('<div style="color: #CC3333">Ошибка соединения с сервером. Попробуйте еще раз.</div><br />');
                            $('#loader').css('display','none');
                        }
                    });
                }else{
                    $('.test-error').html('<div style="color: #CC3333">Выберите вариант ответа</div><br />');
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="content">
        <h2>{{ page.title  | raw }}</h2>
        <br />
        <h1>Тест на болезнь Крона</h1>
        <br />
        <br />
        {{ page.body  | raw }}
        <br />
        <div class="test">
            {#{% for t in test %}#}
            <div class="test-error"></div>
            <img src="{{ asset('bundles/wzcmain/images/loader.gif') }}" id="loader">
            <form method="POST" id="form_question">
                <div class="question">{{ question.title | raw }}</div>
                <div class="question-body">{{ question.body | raw}}</div>
                <input type="hidden" id="questionId" value="{{ question.id }}">
                {% if question.isText == 1 %}
                    <div class="answer"><textarea class="styler textarea"></textarea></div>
                {% else %}
                    {% for a in question.answers %}
                        <div class="answer">
                            <input type="radio" class="styler check" name="answer" value="{{ a.priority }}"> {{ a.title }}
                        </div>
                    {% else %}
                        нету вариентов ответа
                    {% endfor %}
                {% endif %}
            </form>
            {#{% endfor %}#}
            <br />
            <button class="cbtn next">Далее</button>
        </div>
        <br style="clear: both"/>
        <div style="text-align: justify; padding: 40px; color: #333333;  margin-bottom: -150px;">
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;Вовремя проведенная диагностика заболеваний кишечника и других органов пищеварительного тракта – основа успешного лечения, способ предотвратить критические последствия недуга. Верными признаками ВЗК считаются острые рези в животе, вызванные стрессами, частый стул в ночное время, слизистые и гнойные выделения, кровь в кале, потеря веса, пониженный аппетит, язвенные образование во рту, кожные высыпания.
            <br /><br />
            &nbsp;&nbsp;&nbsp;&nbsp;Если у вас есть перечисленные симптомы или вы хотите убедиться, что волноваться не о чем – пройдите первичный тест на БК. Обратите внимание, что это не диагностика, а расчет вероятности возникновения или наличия заболевания. Поэтому при малейших сомнениях и в случае соответствующих результатов теста обязательно обратитесь к специалистам. Грамотная диагностика БК невозможна без проведения сопутствующих анализов, так как ее симптоматика часто перекликается с проявлениями других болезней ЖКТ.
            <br /><br />
            &nbsp;&nbsp;&nbsp;&nbsp;Самые разнообразные методы диагностики заболеваний кишечника применяются специалистами межрегиональной организации «Доверие». После сбора анамнеза врач может назначить больному анализ крови. Высокая скорость оседания эритроцитов и повышенный уровень СРБ и лейкоцитов свидетельствуют о наличии воспалительных процессов. Кал больного исследуется на наличие яиц гельминтов, бактериальной кишечной инфекции, скрытого кровотечения, фекального кальпротектина.
            <br /><br />
            &nbsp;&nbsp;&nbsp;&nbsp;Самые точные данные врач получает при помощи эндоскопии. Для определения наличия воспаления в сигмовидной кишке применяют сигмоидоскопию, а в случае с тотальным поражением толстой кишки – илеоколоноскопию. Посредством капсульной эндоскопии подробно изучают процессы, проходящие в тонкой кишке. Метод удобен для диагностики ВЗК у детей. Эндоскопические методы используются и для исследования верхних отделов пищеварительного тракта. С помощью нового метода МРТ доктор легко определит источник локализации воспаления в стенке тонкого кишечника.
            <br /><br />
            &nbsp;&nbsp;&nbsp;&nbsp;Если вас беспокоит состояние пищеварительного тракта и есть подозрение на наличие БК, диагностика, проведенная вовремя и профессионально, позволит облегчить ваше состояние и предотвратить неприятные последствия. Пройдите первичный тест прямо сейчас и обращайтесь к специалистам межрегиональной организации «Доверие».
        </div>
    </div>
{% endblock %}