{% extends "WzcMainBundle::layout.html.twig" %}


{% block header %}
    <title>{{ page.title }}</title>
    <META NAME="Keywords" CONTENT="{{ page.keywords | raw}}">
    <META NAME="Description" CONTENT="{{ page.description  | raw }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content{
            padding: 50px 0 30px 0;
            width: 900px;
            margin: 0 auto;
        }
        h2{
            color: #920055;
            font-size: 30px;
            text-transform: uppercase;
        }
        input.styler{
            width: 510px
        }
        .table{
            width: 600px;
            margin: 0 auto;
        }
        .question{
            font-weight: bold;
            color: #920055;
            padding: 5px;
        }
        .answer{
            margin-left: 30px;
            padding: 5px;
        }
        .textarea{
            width: 450px;
            height: 150px;
        }
        .test{
            min-width: 500px;
        }
        .test button{
            margin-left: 375px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="content">
        <h2>{{ page.title  | raw }}</h2>
        <br />
        {{ page.body  | raw }}
        <br />
        <div class="test">
            {% for t in test %}
                <div class="question">{{ t.title }}</div>
                    {% if t.isText == 1 %}
                        <div class="answer"><textarea class="styler textarea"></textarea></div>
                    {% else %}
                        {% for a in t.answers %}
                            <div class="answer">
                                <input type="checkbox" class="styler" name="{{ a.id }}"> {{ a.title }}
                            </div>
                        {% else %}
                            нету вариентов ответа
                        {% endfor %}
                    {% endif %}
            {% endfor %}
            <br />
            <button class="cbtn">Отправить</button>
        </div>
        <br style="clear: both"/>
    </div>
{% endblock %}