<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block header %}
            <title></title>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/wzcmain/js/jquery-1.11.1.min.js') }}"></script>
            <script src="{{ asset('bundles/wzcmain/js/styler.js') }}"></script>

            <script>
                $(document).ready(function(){

                    $('select').styler();
                    $('.styler').styler();


                    $('.blaskbg').click(function(){
                       $('.popup').fadeOut();
                       $('.blaskbg').fadeOut();
                        return false;
                    });

                    $('.in').click(function(){
                        $('.popup').fadeOut();
                        $('.popup-auth').fadeIn();
                        $('.blaskbg').fadeIn();
                        return false;
                    });

                    $('.register').click(function(){
                        $('.popup').fadeOut();
                        $('.popup-register').fadeIn();
                        $('.blaskbg').fadeIn();
                        return false;
                    });

                    $('#register-submit').click(function(){
                        var error = '';
                        if ($('#username').val() == '' ){
                            error += '<div>Вы не ввели E-mail</div>';
                        }
                        if ($('#password').val() != $('#confirm').val() ){
                            error += '<div>Пароль пустой или не совпадают</div>';
                        }
                        if (error != ''){
                            $('#register-errors').html(error);
                            return false;
                        }else{
                            return true;
                        }
                    })

                })
            </script>
        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('bundles/wzcmain/css/styler.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/wzcmain/css/common.css') }}" rel="stylesheet">
            <style>

            </style>
        {% endblock %}
    </head>
    <body>
        <div style="min-height: 100%; margin-bottom: -200px">
            <div class="header">
                <div class="header_line"></div>
                <div class="body">
                    <div class="logo">
                        <a href="{{ path('main') }}"><img src="{{ asset('bundles/wzcmain/images/logo.png') }}"></a>
                    </div>
                    <div class="auth">
                        <div class="top">
                            <a href="#" class="register">РЕГИСТРАЦИЯ <img src="{{ asset('bundles/wzcmain/images/ico_in.png') }}" class="ico "></a>
                            <a href="#" class="in">ВХОД <img src="{{ asset('bundles/wzcmain/images/ico_in.png') }}" class="ico"></a>
                            <a href="#"><img src="{{ asset('bundles/wzcmain/images/ico_s_1.png') }}" class="ico soc"></a>
                            <a href="#"><img src="{{ asset('bundles/wzcmain/images/ico_s_2.png') }}" class="ico soc"></a>
                            <a href="#"><img src="{{ asset('bundles/wzcmain/images/ico_s_3.png') }}" class="ico soc"></a>
                        </div>
                        <div class="right">
                            <div class="top">
                                {% spaceless %}
                                <input type="text" class="search" placeholder="Поиск...">
                                <div id="search-btn"><img src="{{ asset('bundles/wzcmain/images/ico_search.png') }}"></div>
                                {% endspaceless %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body" style="padding-bottom: 200px">
                <div class="menu">
                    <ul>
                        <li><a href="{{ path('page',{'url' : 'about'}) }}">О ПРОЕКТЕ</a></li>
                        <li><a href="{{ path('page',{'url' : 'o_zabolevanii'}) }}">О ЗАБОЛЕВАНИИ</a></li>
                        <li>
                            <a href="{{ path('page',{'url' : 'lechenie'}) }}">СПОСОБЫ ЛЕЧЕНИЯ</a>
                            <div class="sub-menu">
                                <img class="triangle-3" src="{{ asset('bundles/wzcmain/images/triangle-3.png') }}">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Психологические проблемы
                                            <img class="triangle-1" src="{{ asset('bundles/wzcmain/images/triangle-1.png') }}">
                                            <img class="triangle-2" src="{{ asset('bundles/wzcmain/images/triangle-2.png') }}">
                                        </a>
                                        <div class="sub-menu-2">
                                            <ul>
                                                <li><a>На работе</a></li>
                                                <li><a>свидания, досуг</a></li>
                                                <li><a>гигиенический аспект</a></li>
                                                <li><a>качество жизни</a></li>
                                                <li><a>взрослым о детях с ВЗК</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#">Физиологические проблемы <img class="triangle-1" src="{{ asset('bundles/wzcmain/images/triangle-1.png') }}"><img class="triangle-2" src="{{ asset('bundles/wzcmain/images/triangle-2.png') }}"></a></li>
                                    <li><a href="#">Осложнения при заболевании <img class="triangle-1" src="{{ asset('bundles/wzcmain/images/triangle-1.png') }}"><img class="triangle-2" src="{{ asset('bundles/wzcmain/images/triangle-2.png') }}"></a></li>
                                </ul>

                            </div>
                        </li>
                        <li><a href="{{ path('test') }}">ТЕСТИРОВАНИЕ</a></li>
                        <li><a href="{{ path('faq') }}">FAQ</a></li>
                        <li><a href="#">ONLINE КОНСУЛЬТАЦИЯ</a></li>
                        <li><a href="#">ФОРУМ</a></li>
                        <li><a href="{{ path('map') }}">ЗАПИСАТЬСЯ К ВРАЧУ</a></li>
                    </ul>
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            <div class="body">
                <table style="margin: 0 auto">
                    <tr>
                        <td style="width: 300px;">
                            &copy; {{ 'now' | date('Y')  }} Все права защищены
                            <br />
                            <br />
                            <a href="mailto:bhd.m@ya.ru" target="_blank">Сайт разработан bhdm</a>
                        </td>
                        <td style="width: 300px;">
                            <ul class="footer-menu">
                                <li><a href="#">О ПРОЕКТЕ       </a></li>
                                <li><a href="#">О ЗАБОЛЕВАНИИ   </a></li>
                                <li><a href="#">СПОСОБЫ ЛЕЧЕНИЯ </a></li>
                                <li><a href="#">ТЕСТИРОВАНИЕ    </a></li>
                            </ul>
                        </td>
                        <td style="width: 300px;">
                            <ul class="footer-menu">
                                <li><a href="#">ОНЛАЙН КОНСУЛЬТИРОВАНИЕ </a></li>
                                <li><a href="#">ИНТЕРАКТИВНАЯ КАРТА     </a></li>
                                <li><a href="#">СКАЧАТЬ БРОШУРКУ        </a></li>
                                <li><a href="#">FAQ                     </a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% include "WzcMainBundle::popup_auth.html.twig" %}
    </body>
</html>