<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block header %}
            <title></title>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/wzcmain/js/jquery-1.11.1.min.js') }}"></script>
        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('bundles/wzcmain/css/common.css') }}" rel="stylesheet" media="all">
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="header_line"></div>
            <div class="body">
                <div class="logo">
                    <a href="{{ path('main') }}"><img src="{{ asset('bundles/wzcmain/images/logo.png') }}"></a>
                </div>
                <div class="auth">
                    <div class="top">
                        <a href="#">РЕГИСТРАЦИЯ <img src="{{ asset('bundles/wzcmain/images/ico_in.png') }}" class="ico in"></a>
                        <a href="#">ВХОД <img src="{{ asset('bundles/wzcmain/images/ico_in.png') }}" class="ico in"></a>
                        <a href="#"><img src="{{ asset('bundles/wzcmain/images/ico_s_1.png') }}" class="ico soc"></a>
                        <a href="#"><img src="{{ asset('bundles/wzcmain/images/ico_s_2.png') }}" class="ico soc"></a>
                        <a href="#"><img src="{{ asset('bundles/wzcmain/images/ico_s_3.png') }}" class="ico soc"></a>
                    </div>
                    <div class="right">
                        <div class="top">
                            {% spaceless %}
                            <input type="text" class="search" placeholder="Поиск...">
                            <div id="search-btn"><img src="{{ asset('bundles/wzcmain/images/ico_search.png') }}"></div>
                            {% endspaceless %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="menu">
                <ul>
                    <li><a href="#">О ПРОЕКТЕ</a></li>
                    <li><a href="#">О ЗАБОЛЕВАНИИ</a></li>
                    <li><a href="#">ПОСОБЫ ЛЕЧЕНИЯ</a></li>
                    <li><a href="#">ЕСТИРОВАНИЕ</a></li>
                    <li><a href="#">NLINE КОНСУЛЬТАЦИЯ</a></li>
                    <li><a href="#">ФОРУМ</a></li>
                    <li><a href="#">НТЕРАКТИВНАЯ КАРТА</a></li>
                </ul>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>