<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block header %}
            <title></title>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/wzcmain/js/jquery-1.11.1.min.js') }}"></script>
            <script>
                $(document).ready(function(){
                    $('.blaskbg').click(function(){
                       $('.popup').fadeOut();
                       $('.blaskbg').fadeOut();
                        return false;
                    });

                    $('.in').click(function(){
                        $('.popup').fadeOut();
                        $('.popup-auth').fadeIn();
                        $('.blaskbg').fadeIn();
                        return false;
                    });

                    $('.register').click(function(){
                        $('.popup').fadeOut();
                        $('.popup-register').fadeIn();
                        $('.blaskbg').fadeIn();
                        return false;
                    });

                })
            </script>
        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('bundles/wzcmain/css/common.css') }}" rel="stylesheet" media="all">
            <style>
                *{
                    font-family: Arial, Helvetica, sans-serif;
                }
                .blaskbg{
                    background: #000000;
                    opacity: 0.5;
                    position: fixed;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 149;
                    display: none;
                    /*color: #920055;*/
                }
                .popup table{
                    color: #920055;
                }

                .popup table tr td{
                    padding-bottom: 10px;
                }
                button{
                    background: #ba6295;
                    padding: 5px 10px;
                    font-size: 18px;
                    color: #ffffff;
                    border-radius: 3px;
                    outline: none;
                    cursor: pointer;
                }
                .popup{
                    position: fixed;
                    width: 400px;
                    left: 50%;
                    margin-left: -200px;
                    height: 160px;
                    padding: 20px;
                    background: #feb5e0;
                    border: 3px dashed #920055;
                    border-radius: 5px;
                    top: 20%;
                    z-index: 150;
                    box-shadow: 0 0 10px rgba(0,0,0,0.8);
                    display: none;
                }
                .popup h2{
                    font-weight: normal;
                    font-style: italic;
                    text-transform: none;
                }
                body{
                    background: #ffffff;
                    position: relative;
                }
                .footer{
                    height: 149px;
                    padding-top: 50px;
                    background: url('{{ asset('bundles/wzcmain/images/footer_bg.png') }}');
                }
                .footer a{
                    color: #9b9b9b;
                }
                .footer a:hover{
                    color: #920055;
                }
                .footer-menu li{
                    color: #9b9b9b;
                    padding: 5px;
                }
                h2{
                    color: #920055;
                    font-size: 30px;
                    text-transform: uppercase;
                }
                .ainput{
                    background: #ba6295;
                    border: 0;
                    height: 35px;
                    border-radius: 3px 0 0 3px;
                    width: 290px;
                    font-size: 18px;
                    padding-left: 10px;
                    color: #ffffff;
                    outline: 0;
                }

            </style>
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="header_line"></div>
            <div class="body">
                <div class="logo">
                    <a href="{{ path('main') }}"><img src="{{ asset('bundles/wzcmain/images/logo.png') }}"></a>
                </div>
                <div class="auth">
                    <div class="top">
                        <a href="#" class="register">РЕГИСТРАЦИЯ <img src="{{ asset('bundles/wzcmain/images/ico_in.png') }}" class="ico "></a>
                        <a href="#" class="in">ВХОД <img src="{{ asset('bundles/wzcmain/images/ico_in.png') }}" class="ico"></a>
                        <a href="#"><img src="{{ asset('bundles/wzcmain/images/ico_s_1.png') }}" class="ico soc"></a>
                        <a href="#"><img src="{{ asset('bundles/wzcmain/images/ico_s_2.png') }}" class="ico soc"></a>
                        <a href="#"><img src="{{ asset('bundles/wzcmain/images/ico_s_3.png') }}" class="ico soc"></a>
                    </div>
                    <div class="right">
                        <div class="top">
                            {% spaceless %}
                            <input type="text" class="search" placeholder="Поиск...">
                            <div id="search-btn"><img src="{{ asset('bundles/wzcmain/images/ico_search.png') }}"></div>
                            {% endspaceless %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="menu">
                <ul>
                    <li><a href="{{ path('page',{'url' : 'about'}) }}">О ПРОЕКТЕ</a></li>
                    <li><a href="{{ path('page',{'url' : 'o_zabolevanii'}) }}">О ЗАБОЛЕВАНИИ</a></li>
                    <li><a href="{{ path('page',{'url' : 'lechenie'}) }}">СПОСОБЫ ЛЕЧЕНИЯ</a></li>
                    <li><a href="#">ТЕСТИРОВАНИЕ</a></li>
                    <li><a href="#">OLINE КОНСУЛЬТАЦИЯ</a></li>
                    <li><a href="#">ФОРУМ</a></li>
                    <li><a href="#">ИТЕРАКТИВНАЯ КАРТА</a></li>
                </ul>
            </div>
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            <div class="body">
                <table style="margin: 0 auto">
                    <tr>
                        <td style="width: 300px;">
                            &copy; {{ 'now' | date('Y')  }} Все права защищены
                            <br />
                            <br />
                            <a href="mailto:bhd.m@ya.ru" target="_blank">Сайт разработан bhdm</a>
                        </td>
                        <td style="width: 300px;">
                            <ul class="footer-menu">
                                <li><a href="#">О ПРОЕКТЕ       </a></li>
                                <li><a href="#">О ЗАБОЛЕВАНИИ   </a></li>
                                <li><a href="#">СПОСОБЫ ЛЕЧЕНИЯ </a></li>
                                <li><a href="#">ТЕСТИРОВАНИЕ    </a></li>
                            </ul>
                        </td>
                        <td style="width: 300px;">
                            <ul class="footer-menu">
                                <li><a href="#">ОНЛАЙН КОНСУЛЬТИРОВАНИЕ </a></li>
                                <li><a href="#">ИНТЕРАКТИВНАЯ КАРТА     </a></li>
                                <li><a href="#">СКАЧАТЬ БРОШУРКУ        </a></li>
                                <li><a href="#">FAQ                     </a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% include "WzcMainBundle::popup_auth.html.twig" %}
    </body>
</html>