{% extends "WzcMainBundle::layout.html.twig" %}


{% block header %}
    <title>{{ page.title }}</title>
    <META NAME="Keywords" CONTENT="{{ page.keywords | raw }}">
    <META NAME="Description" CONTENT="{{ page.description  | raw }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content{
            padding: 50px 0 30px 0;
            max-width: 900px;
            margin: 0 auto;
        }
        h1{
            color: #920055;
            font-size: 30px;
            text-transform: uppercase;
        }
        .content table tr td {
            border: 1px solid #333333;
            border-collapse: collapse;
            padding: 10px;
        }
        .content table {
            border-collapse: collapse;
            width: 100%;
        }
        .content ul li {
            padding-left: 20px;
        }
        .content a{
            color: #920055;
        }
        .content a:hover{
            border-bottom: 1px dashed #920055;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content">
        <h1>{{ category.title | raw }}</h1>
        <br />
        {{ page.body | raw  }}
        <br />
        {% for pages in category.childs %}
            {% if pages.enabled == true %}
                <a href="{{ pages.url }}">{{ pages.title }}</a><br /><br />
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}