{% extends "WzcMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .banner{
            width: 860px;
            margin: 40px auto;
            position: relative;
        }
        .banner-btn{
            position: absolute;
            left: 50%;
            margin-left: -141px;
            top: 75px;
            cursor: pointer;
        }
        .slidebar{
            position: relative;
            overflow: hidden;
            width: 1200px;
            height: 450px;
        }
        .btn-left{
            position: absolute;
            top: 200px;
            left: 0;
            cursor: pointer;
        }
        .btn-right{
            position: absolute;
            top: 200px;
            right: 0;
            cursor: pointer;
        }
        .message{
            background: url("{{ asset('bundles/wzcmain/images/message_bg.png') }}") repeat-x ;
            height: 120px;
            text-align: center;
            padding: 15px;

        }
        .left-tr img{
            cursor: pointer;
            width: 230px;
        }
        .message-title{
            font-size: 45px;
            text-align: center;
            color: #920055;
            font-style: italic;
        }

        .message-body{
            font-size: 20px;
            text-align: center;
            color: #920055;
            font-style: italic;
            line-height: 30px;
        }


        .slidebar-msg{
            background: url("{{ asset('bundles/wzcmain/images/banner_message_bg.png') }}") repeat-x;
            width: 400px;
            height: 160px;
            position: absolute;
            /*z-index: 80;*/
            bottom: 50px;
            left: 100px;
            padding: 13px;
            color: #920055;
            font-size: 25px;
        }
        .slidebar-title{
            font-size: 45px;
        }
        .slidewrapper{
            position: absolute;
            left: 0;
            top: 0;
            height: 450px;
            margin: 0;
            padding: 0;
        }
        .slide{
            width: 1200px;
            height: 450px;
            float: left;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
        }

        .bottom{
            margin: 30px 0;
        }
        .left-tr{
            float: left;
            width: 40%;
            text-align: center;
        }
        .right-tr{
            float: right;
            width: 60%;
        }
        .post-title{
            color: #595959;
            font-size: 25px;
        }

        .post-body{
            color: #595959;
        }
        .right-tr table tr td{
            /*vertical-align: top;*/
            padding-left: 15px;
            padding-bottom: 10px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
           $('.btn-left').hover(
                   function(){
                        $(this).attr('src','{{ asset('bundles/wzcmain/images/ico_left_active.png') }}')
                   },
                   function(){
                       $(this).attr('src','{{ asset('bundles/wzcmain/images/ico_left.png') }}')
                   }
           );
           $('.btn-right').hover(
                    function(){
                        $(this).attr('src','{{ asset('bundles/wzcmain/images/ico_right_active.png') }}')
                    },
                    function(){
                        $(this).attr('src','{{ asset('bundles/wzcmain/images/ico_right.png') }}')
                    }
           );

            $('.btn-left').click(function(){
                $('.slidewrapper').width($('.slidewrapper').children().size()*slideWidth);
                nextSlide();
            });

            $('.btn-right').click(function(){
                $('.slidewrapper').width($('.slidewrapper').children().size()*slideWidth);
                backSlide();
            });

            var slideWidth=1200;
            var sliderTimer;
            $(function(){
                $('.slidewrapper').width($('.slidewrapper').children().size()*slideWidth);
                sliderTimer=setInterval(nextSlide,10000);
                $('.viewport').hover(function(){
                    clearInterval(sliderTimer);
                },function(){
                    sliderTimer=setInterval(nextSlide,10000);
                });
            });

            function nextSlide(){
                var currentSlide=parseInt($('.slidewrapper').data('current'));
                currentSlide++;
                if(currentSlide>=$('.slidewrapper').children().size())
                {
                    currentSlide=0;
                }
                $('.slidewrapper').animate({left: -currentSlide*slideWidth},300).data('current',currentSlide);
            }

            function backSlide(){
                var currentSlide=parseInt($('.slidewrapper').data('current'));
                currentSlide++;
                if(currentSlide>=$('.slidewrapper').children().size())
                {
                    currentSlide=0;
                }
                $('.slidewrapper').animate({left: -currentSlide*slideWidth},300).data('current',currentSlide);
            }

        });
    </script>
{% endblock %}

{% block content %}
    <div class="slidebar viewport">
        <div class="slidewrapper" data-current=0>
            {% for item in banners %}
                <li class="slide">
                    <img src="{{ item.image.path }}">
                    <div class="slidebar-msg">
                        <div class="slidebar-title" >{{ item.title | raw }}</div>
                        {{ item.body | raw }}
                    </div>
                </li>
            {% endfor %}
        </div>
        <img src="{{ asset('bundles/wzcmain/images/ico_left.png') }}" class="btn-left">
        <img src="{{ asset('bundles/wzcmain/images/ico_right.png') }}" class="btn-right">
    </div>
    <div class="banner">
        <img src="{{ asset('bundles/wzcmain/images/banner.png') }}">
        <img class="banner-btn" src="{{ asset('bundles/wzcmain/images/btn_4.png') }}">
    </div>
    <div class="message">
        <div class="message-title">{{ message.title | raw }}</div>
        <div class="message-body">{{ message.body | raw }}</div>
    </div>

    <div class="bottom">
        <div class="left-tr">
            <a href="{{ path('postcard') }}"><img src="{{ asset('bundles/wzcmain/images/btn_2.png') }}"></a>
            <br/>
            <br/>
            <img src="{{ asset('bundles/wzcmain/images/btn_3.png') }}">
            <br/>
            <br/>
            <img src="{{ asset('bundles/wzcmain/images/btn_1.png') }}">
        </div>
        <div class="right-tr">
            <table>
                <tr>
                    <td>
                        <img src="{{ asset('bundles/wzcmain/images/thrumb_1.png') }}">
                    </td>
                    <td>
                        <div class="post-title">Как востановить силы</div>
                        <div class="post-body">Современная медицинская Современная медицинская Современная медицинская Современная медицинская Современная медицинская Современная медицинская </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ asset('bundles/wzcmain/images/thrumb_2.png') }}">
                    </td>
                    <td>
                        <div class="post-title">Как востановить силы</div>
                        <div class="post-body">Современная медицинская Современная медицинская Современная медицинская Современная медицинская Современная медицинская Современная медицинская </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ asset('bundles/wzcmain/images/thrumb_3.png') }}">
                    </td>
                    <td>
                        <div class="post-title">Как востановить силы</div>
                        <div class="post-body">Современная медицинская Современная медицинская Современная медицинская Современная медицинская Современная медицинская Современная медицинская </div>
                    </td>
                </tr>
            </table>
        </div>
        <br style="clear: both">
    </div>
{% endblock %}