<div class="menu">
    <ul>
        {% for m in menu %}
            <li>
                <a href="{{ m.url }}">{{ m.title }}</a>
                {% if m.childs is not empty %}
                    <div class="sub-menu">
                        <img class="triangle-3" src="{{ asset('bundles/wzcmain/images/triangle-3.png') }}">
                        <ul>
                            {% for mc in m.childs %}
                            <li><a href="{{ mc.url }}">{{ mc.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>