{#{{ app.request.uri | raw }}#}
{#{{ dump(app.request.server.parameters) }}#}
{#{{ dump(app.request) }}#}
{#{{ render(controller('YourBundle:Menu:menu', { '_locale': app.request.locale, 'route': app.request.attributes.get('_route') } )) }}#}
<div class="menu">
    <ul>
        {% for m in menu %}
            <li>
                <a href="{{ m.url }}">{{ m.title }}</a>
                {#<a href="{{ path('category', {'id' : m.id}) }}">{{ m.title }}</a>#}
                {% if m.childs is not empty %}
                    <div class="sub-menu">
                        <img class="triangle-3" src="{{ asset('bundles/wzcmain/images/triangle-3.png') }}">
                        <ul>
                            {% for mc in m.childs %}
                                {% if mc.enabled == true %}
                                    <li><a href="{{ mc.url }}">{{ mc.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>