{% extends "WzcMainBundle::layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        .content{
            padding: 50px 0 30px 0;
            max-width: 900px;
            margin: 0 auto;
        }
        h1{
            color: #920055;
            font-size: 30px;
            text-transform: uppercase;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content">
        <h1>
            <span style="color: #555; padding-right: 20px; font-size: 14px">
                {{ new.created | date('d.m.Y') }}
            </span>
            <a href="{{ path('news') }}" style="color: #920055">{{ new.title }}</a>
        </h1>
        <br />
        {% if new.image.path is defined %}
            <a href="{{ path('news') }}"><img  src="{{ new.image.path }}" style="width: 110px; float: left; margin: 10px;"></a>
        {% endif %}
        {{ new.anons|raw }}
        <br/>
        <br/>
        {{ new.body|raw }}
        {#<table>#}
            {#<tr>#}
                {#<td>#}



                {#</td>#}
                {#<td>#}
                    {#<div class="post-body">{{ new.anons|raw }}</div>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td colspan="2">#}
                    {#<div class="post-body">{{ new.body|raw }}</div>#}
                {#</td>#}
            {#</tr>#}

        {#</table>#}
    </div>
{% endblock %}