{% extends "WzcAdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li class="active"><a href="{{ path('admin_page_list') }}">Страницы</a> <span class="divider"></span></li>
        <div style="float: right">
            <a href="{{ path('admin_page_add') }}">Добавить</a> <span class="divider"></span>
        </div>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table">
            <tr>
                <th>№</th>
                <th>Заголовок</th>
                <th></th>
                <th>Статус</th>
                <th>Инструменты</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td></td>
                    <td>{{ item.enabledStr }}</td>
                    <td>
                        <a><span class="glyphicon glyphicon-pencil"></span></a>
                        <a><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            {% endfor%}
        </table>
    </div>
{% endblock %}