{% extends "WzcMainBundle::layout.html.twig" %}


{% block header %}
    <title>{{ page.title }}</title>
    <META NAME="Keywords" CONTENT="{{ page.keywords | raw}}">
    <META NAME="Description" CONTENT="{{ page.description  | raw }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content{
            padding: 50px 0 30px 0;
            width: 900px;
            margin: 0 auto;
        }
        h1{
            color: #991199;
            font-size: 30px;
            text-transform: uppercase;
        }
        input.styler{
            width: 440px;
        }
        .table{
            width: 600px;
            margin: 0 auto ;
        }
        #map{
            border: 1px solid #991199;
            border-radius: 5px;
            padding: 3px;
        }
        .jq-selectbox__dropdown{
            z-index: 50;
            text-align: left;
        }
        #searchmap::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #cccccc;
        }
        #searchmap:-moz-placeholder, textarea:-moz-placeholder {
            color: #cccccc;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,
                myPlacemark;

        function init(){
            myMap = new ymaps.Map("map", {
                {% if thisMetro is defined and thisMetro != null %}
                    center: [{{ thisMetro.longitude }}, {{ thisMetro.latitude }}],
                    zoom: 14,
                {% else %}
                    {% if sessionCity == 'Екатеринбург' %}
                        center: [56.856289, 60.614444],
                        zoom: 9,
                    {% elseif sessionCity == 'Москва'  %}
                        center: [55.753676, 37.619899],
                        zoom: 10,
                    {% elseif sessionCity == 'Красноярск'  %}
                        center: [56.010569, 92.852545],
                        zoom: 10,
                    {% elseif sessionCity == 'ХМАО' %}
                        center: [61.098715, 72.666646],
                        zoom: 7,
                    {% elseif sessionCity == 'Уфа' %}
                        center: [54.735147, 55.958727],
                        zoom: 7,
                    {% else %}
                        center: [{{ ipCity.lat }}, {{ ipCity.lon }}],
                        zoom: 8,
                    {% endif %}

                {% endif %}
                controls: ['default']
            });

//            myMap.controls.remove('geolocationControl');
            myMap.controls.add('geolocationControl');
            myMap.controls.remove('fullscreenControl');
            myMap.controls.remove('searchControl');
            myMap.controls.remove('trafficControl');
            myMap.controls.remove('rulerControl');

//            var myListBox = new ymaps.control.ListBox({
//                data: {
//                    content: 'Выбрать город'
//                },
//                items: [
//                    new ymaps.control.ListBoxItem('Москва'),
//                    new ymaps.control.ListBoxItem('Санкт-Петербург')
//                ]
//            });

            {% for c in coords %}
                myPlacemark = new ymaps.Placemark([{{ c.latitude }}, {{ c.longitude }}], {
                    {#iconContent: '{{ c.phone }}',#}
                    hintContent: '{{ c.title }} {{ c.phone }}',
                    balloonContent: '<div><b>{{ c.title |replace({"\n": '<br />',"\r" : '' }) | raw }}</b><br /><b>Адрес:</b> {{ c.adrs |replace({'\n': '<br />' }) | raw }}<br /><b>Телефон:</b> {{ c.phone |replace({'\n': '<br />' }) | raw }}<br />{{ c.body |replace({'\n': '<br />' }) | raw }}</div>',
                },{
                    iconLayout: 'default#image',
                    iconImageHref: '{{ asset('bundles/wzcmain/images/icoHospital.png') }}',
                    iconImageSize: [24, 24],
                    iconImageOffset: [-12, -12]
//                    preset: 'islands#redSmallPoint',
//                    iconColor: '#991199'
                });
                myMap.geoObjects.add(myPlacemark);
            {% endfor %}
        }



        $(document).ready(function(){
            $('.changeMetro').change(function(){
                var url = Routing.generate('map', { thisMetro: $('#changeMetro').val() });
                window.location.href = url;
                return false;
            });

            $('#searchbtn').click(function(){
                window.location.href = '?s='+$('#searchmap').val();
            });

            $('#download').click(function(){
                (function(h){function k(){var a=function(d,b){if(this instanceof AdriverCounter)d=a.items.length||1,a.items[d]=this,b.ph=d,b.custom&&(b.custom=a.toQueryString(b.custom,";")),a.request(a.toQueryString(b));else return a.items[d]};a.httplize=function(a){return(/^\/\//.test(a)?location.protocol:"")+a};a.loadScript=function(a){try{var b=g.getElementsByTagName("head")[0],c=g.createElement("script");c.setAttribute("type","text/javascript");c.setAttribute("charset","windows-1251");c.setAttribute("src",a.split("![rnd]").join(Math.round(1E6*Math.random())));c.onreadystatechange=function(){/loaded|complete/.test(this.readyState)&&(c.onload=null,b.removeChild(c))};c.onload=function(){b.removeChild(c)};b.insertBefore(c,b.firstChild)}catch(f){}};a.toQueryString=function(a,b,c){b=b||"&";c=c||"=";var f=[],e;for(e in a)a.hasOwnProperty(e)&&f.push(e+c+escape(a[e]));return f.join(b)};a.request=function(d){var b=a.toQueryString(a.defaults);a.loadScript(a.redirectHost+"/cgi-bin/erle.cgi?"+d+"&rnd=![rnd]"+(b?"&"+b:""))};a.items=[];a.defaults={tail256:document.referrer||"unknown"};a.redirectHost=a.httplize("//ad.adriver.ru");return a}var g=document;"undefined"===typeof AdriverCounter&&(AdriverCounter=k());new AdriverCounter(0,h)})
                ({"sid":203524,"sz":"action_lead","bt":62,"custom":{"150":"lead_id","153":"user_id"}});
                var url = '{{ path('download') }}';
                window.open(url,'_blank');
            });
        });

    </script>

{% endblock %}

{% block content %}
    <div class="content">
        <h1>{{ page.title  | raw }}</h1>
        <br />
        <div style="text-align: center">
            {% spaceless %}
                <table class="table">
                    <tr>
                        <td colspan="2" style="text-align: left">
                            {% if sessionCity == 'Москва' %}
                                <select class="changeMetro" id="changeMetro">
                                        <option value="0">Выберите метро</option>
                                    {% for m in metro %}
                                        {% if thisMetro is defined and thisMetro != null and thisMetro != 0 %}
                                            <option value="{{ m.id }}" {{ m.id == thisMetro.id ? 'selected="selected"' : '' }}>{{ m.title }}</option>
                                        {% else %}
                                            <option value="{{ m.id }}" >{{ m.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                            {% endif %}
                            <input type="text" name="searchmap" id="searchmap" value="" class="styler" placeholder="Поиск по названию" data-placeholder="Поиск по названию"/>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <button class="styler" id="searchbtn">Найти</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><br /></td>
                    </tr>
                    {#<tr>#}
                        {#<td>#}
                            {#Выберите город:#}
                            {#<select id="city">#}
                                {#<option value="1">Москва</option>#}
                                {#<option value="2">Санкт-Петербург</option>#}
                            {#</select>#}
                        {#</td>#}
                        {#<td>#}
                            {#<div style="float: right">#}
                                {#Найти по метро:#}
                                {#<select>#}
                                    {#<option>Москва</option>#}
                                    {#<option>Санкт-Петербург</option>#}
                                {#</select>#}
                            {#</div>#}
                        {#</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td colspan="2"><br /></td>#}
                    {#</tr>#}
                    <tr>
                        <td colspan="2">
                            <div id="map" style="width: 850px; height: 400px"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="">
                            <br />
                            <br />
                            <a href="#" id="download" target="_blank" style="color: #991199; text-decoration: underline; font-weight: bold;" alt="Направление на обследование ВЗК тест" title="Направление на обследование ВЗК тест">Распечатать бланк направления</a>
                            <br />
                            <br />
                            Пожалуйста, не забудьте вместе с бланком взять на прием паспорт и страховой полис. В большинстве клиник Вас ждет бесплатный прием
                            <br />
                            <br />
                            <div style="text-align: left">
                                {{ page.body  | raw }}
                            </div>
                        </td>
                    </tr>
                </table>
                <br />
            {% endspaceless %}
        </div>
        <div class="cell25">

        </div>
        <div class="cell33" id="metro">

        </div>

        <br style="clear: both"/>
    </div>
    {{ render(controller('WzcMainBundle:Map:city')) }}
{% endblock %}
