<div class="well navtitle">
    <h2 class="modal-title">Навигация</h2>
    <ul class="nav list-group">
        <li class="">
            <a href="{{ path('admin_menu_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Меню сайта
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_page_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Страницы сайта
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_slidebar_list') }}">
                <i class="glyphicon glyphicon-picture"></i>
                Слайдбар
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_postcard_list') }}">
                <i class="glyphicon glyphicon-picture"></i>
                Открытки
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_faq_list') }}">
                <i class="glyphicon glyphicon-question-sign"></i>
                Частые вопросы
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_consultation_list') }}">
                <i class="glyphicon glyphicon-info-sign"></i>
                Онлайн косультация
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_user_list') }}">
                <i class="glyphicon glyphicon-user"></i>
                Пользователи
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_map_list') }}">
                <i class="glyphicon glyphicon-plus"></i>
                Карта
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_testquestion_list') }}">
                <i class="glyphicon glyphicon-th-list"></i>
                Тестирование
            </a>
        </li>
       <li class="">
            <a href="{{ path('admin_teststatistic_list') }}">
                <i class="glyphicon glyphicon-stats"></i>
                Статистика тестирования
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_stats_list') }}">
                <i class="glyphicon glyphicon-stats"></i>
                Общаяя статистика
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_metro_list') }}">
                <i class="glyphicon glyphicon-th-list"></i>
                Метро
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_publication_list') }}">
                <i class="glyphicon glyphicon-th-list"></i>
                Новости
            </a>
        </li>
    </ul>
</div>